<div class="page-wrapper">
    <div class="container-fluid py-3 px-4 h-100">
        <div class="row justify-content-center h-100">
            <div class="col-4 w-100">
                <div class="h-100 d-flex flex-column">
                    <div class="row justify-content-center">
                        <h1><i class="bi bi-plus-square-dotted"></i> Add Project</h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="bg-body-tertiary rounded p-3 mb-3">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="mb-2">
                                        <label for="projectName" class="form-label">Project Name</label>
                                        <input type="text" id="projectName" class="form-control">
                                    </div>
                                    <div class="mb-2">
                                        <label for="subject" class="form-label">Subject</label>
                                        <select class="form-select">
                                            <option>Test</option>
                                        </select>
                                    </div>
                                    <div class="mb-2">
                                        <label for="dueDate" class="form-label">Due Date</label>
                                        <input type="date" id="dueDate" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center flex-grow-1">
                        <div class="bg-body-tertiary rounded p-3">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    Task Form
                                </div>
                                <div class="col-12 col-lg-6">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Task Name</th>
                                                <th>Description</th>
                                                <th>Due Date</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Task 1</td>
                                                <td>This is an example of a task description</td>
                                                <td>12 June 2024</td>
                                                <td>
                                                    <button class="btn btn-outline-danger mx-1" title="Delete"><i class="bi bi-trash"></i></button>
                                                    <button class="btn btn-outline-warning mx-1" title="Edit"><i class="bi bi-pencil"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Task 2</td>
                                                <td>This is an example of a task description</td>
                                                <td>24 Aug 2024</td>
                                                <td>
                                                    <button class="btn btn-outline-danger mx-1" title="Delete"><i class="bi bi-trash"></i></button>
                                                    <button class="btn btn-outline-warning mx-1" title="Edit"><i class="bi bi-pencil"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Task 2</td>
                                                <td>This is an example of a task description</td>
                                                <td>24 Aug 2024</td>
                                                <td>
                                                    <button class="btn btn-outline-danger mx-1" title="Delete"><i class="bi bi-trash"></i></button>
                                                    <button class="btn btn-outline-warning mx-1" title="Edit"><i class="bi bi-pencil"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>